.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.announcement:global(.__wab_instance) {
  max-width: 100%;
}
.nav:global(.__wab_instance) {
  max-width: 85%;
}
.freeBox__lqsrN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 45%;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lqsrN {
    max-width: 85%;
  }
}
.text__w82Sz {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  font-weight: 400;
  color: #1c3a13;
  text-align: left;
  margin-bottom: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__w82Sz {
    animation: none;
    font-size: 26px;
  }
}
.freeBox__fvxEz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
}
.text__bymMd {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #1c3a13;
  text-align: left;
  padding-top: 0px;
  cursor: pointer;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bymMd {
    animation: none;
  }
}
.text__gxCJu {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #1c3a13;
  text-align: left;
  margin-bottom: 0px;
  flex-shrink: 0;
  margin-right: 10px;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gxCJu {
    animation: none;
  }
}
.svg__fxXl8 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #1c3a13;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  margin: 0px 10px 0px 0px;
}
.text__p4Yxu {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #1c3a13;
  text-align: left;
  flex-shrink: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__p4Yxu {
    animation: none;
  }
}
.svg___2Lghf {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #1c3a13;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  display: none;
  margin: 0px 10px 0px 0px;
}
.text__tiKnM {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #1c3a13;
  text-align: left;
  margin-bottom: 0px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tiKnM {
    animation: none;
  }
}
.img__u71BF {
  object-fit: cover;
  width: 100%;
  height: 350px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__u71BF > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__u71BF {
    height: 180px;
    flex-shrink: 0;
  }
}
.text__xt100 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xt100 {
    animation: none;
    font-size: 19px;
  }
}
.text__lCLxG {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lCLxG {
    animation: none;
  }
}
.img___1Lfgq {
  object-fit: cover;
  width: 100%;
  height: 350px;
  margin-top: 20px;
  min-width: 0;
  flex-shrink: 0;
  display: none;
  border-radius: 15px;
}
.img___1Lfgq > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___1Lfgq {
    height: 180px;
    flex-shrink: 0;
  }
}
.text__mw1Dn {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mw1Dn {
    animation: none;
  }
}
.img___6MDz {
  object-fit: cover;
  width: 100%;
  height: 350px;
  margin-top: 20px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px;
}
.img___6MDz > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___6MDz {
    height: 180px;
    flex-shrink: 0;
  }
}
.text__hnS77 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hnS77 {
    animation: none;
    font-size: 19px;
  }
}
.text__yd2G9 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yd2G9 {
    animation: none;
  }
}
.link__c5LIy {
  margin-top: 20px;
  display: flex;
  width: 100%;
  min-width: 0;
}
.img__fljmZ {
  object-fit: cover;
  width: 100%;
  height: 350px;
  min-width: 0;
  border-radius: 15px;
}
.img__fljmZ > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fljmZ {
    height: 180px;
  }
}
.text__jvoX6 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jvoX6 {
    animation: none;
    font-size: 19px;
  }
}
.text__bdmfR {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bdmfR {
    animation: none;
  }
}
.link___0CEcx {
  margin-top: 20px;
  display: flex;
  width: 100%;
  min-width: 0;
}
.img__yoZr {
  object-fit: cover;
  width: 100%;
  height: 350px;
  min-width: 0;
  border-radius: 15px;
}
.img__yoZr > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yoZr {
    height: 180px;
  }
}
.text__oJ8Nj {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oJ8Nj {
    animation: none;
    font-size: 19px;
  }
}
.text__rL9 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rL9 {
    animation: none;
  }
}
.link__lxA3 {
  margin-top: 20px;
  display: flex;
  width: 100%;
  min-width: 0;
}
.img__tuLzf {
  object-fit: cover;
  width: 100%;
  height: 350px;
  min-width: 0;
  border-radius: 15px;
}
.img__tuLzf > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tuLzf {
    height: 180px;
  }
}
.text__qrBgJ {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qrBgJ {
    animation: none;
    font-size: 19px;
  }
}
.text___0VAKw {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0VAKw {
    animation: none;
  }
}
.link__t7Yvq {
  margin-top: 20px;
  display: flex;
  width: 100%;
  min-width: 0;
}
.img__g2Vl5 {
  object-fit: cover;
  width: 100%;
  height: 350px;
  min-width: 0;
  border-radius: 15px;
}
.img__g2Vl5 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__g2Vl5 {
    height: 180px;
  }
}
.text___7Sry3 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7Sry3 {
    animation: none;
    font-size: 19px;
  }
}
.text__deUa6 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__deUa6 {
    animation: none;
  }
}
.link___8Tsk {
  margin-top: 20px;
  display: flex;
  width: 100%;
  min-width: 0;
}
.img__v1DRn {
  object-fit: cover;
  width: 100%;
  height: 350px;
  object-position: 50% 65%;
  min-width: 0;
  border-radius: 15px;
}
.img__v1DRn > picture > img {
  object-fit: cover;
  object-position: 50% 65%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__v1DRn {
    height: 180px;
  }
}
.text__urfT {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__urfT {
    animation: none;
    font-size: 19px;
  }
}
.text__pKDsF {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pKDsF {
    animation: none;
  }
}
.text__ntvcF {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ntvcF {
    animation: none;
    font-size: 19px;
  }
}
.pdp:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 40px;
}
.metaPixel:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .metaPixel:global(.__wab_instance) {
    animation: none;
  }
}
