.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.announcement:global(.__wab_instance) {
  max-width: 100%;
}
.nav:global(.__wab_instance) {
  max-width: 85%;
}
.freeBox__pK6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 55%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pK6 {
    max-width: 85%;
  }
}
.text__uhEv {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  font-weight: 400;
  color: #1c3a13;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uhEv {
    animation: none;
  }
}
.text__b7Qa {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b7Qa {
    animation: none;
  }
}
.text__vk0Uj {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15.5px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vk0Uj {
    animation: none;
  }
}
.freeBox__lQxQr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  min-width: 0;
}
.text__cTuX {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #1c3a13;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cTuX {
    animation: none;
  }
}
.text___9SaDi {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15.5px;
  font-weight: 400;
  margin-top: 10px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9SaDi {
    animation: none;
  }
}
.freeBox___1CxCd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  min-width: 0;
}
.text__pzSj {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #1c3a13;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pzSj {
    animation: none;
  }
}
.text__agbIe {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15.5px;
  font-weight: 400;
  margin-top: 10px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__agbIe {
    animation: none;
  }
}
.freeBox__pWtqj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  min-width: 0;
}
.text__mdPyo {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #1c3a13;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mdPyo {
    animation: none;
  }
}
.text__zDibB {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15.5px;
  font-weight: 400;
  margin-top: 10px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zDibB {
    animation: none;
  }
}
.freeBox__ctElV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  min-width: 0;
}
.text__jGhY {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #1c3a13;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jGhY {
    animation: none;
  }
}
.text__gg93X {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15.5px;
  font-weight: 400;
  margin-top: 10px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gg93X {
    animation: none;
  }
}
.freeBox__d3YwG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  min-width: 0;
}
.text__wZhZn {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #1c3a13;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wZhZn {
    animation: none;
  }
}
.text__sNuCp {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15.5px;
  font-weight: 400;
  margin-top: 10px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sNuCp {
    animation: none;
  }
}
.freeBox__qupQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  min-width: 0;
}
.text__gCrGj {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #1c3a13;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gCrGj {
    animation: none;
  }
}
.text__zLw1 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15.5px;
  font-weight: 400;
  margin-top: 10px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zLw1 {
    animation: none;
  }
}
.freeBox__aidDh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  min-width: 0;
}
.text__rMn3H {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #1c3a13;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rMn3H {
    animation: none;
  }
}
.text__iwvbv {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15.5px;
  font-weight: 400;
  margin-top: 10px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iwvbv {
    animation: none;
  }
}
.link {
  color: #1c3a13;
  text-decoration-line: underline;
}
.freeBox__mBilt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  min-width: 0;
}
.text__sbewo {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #1c3a13;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sbewo {
    animation: none;
  }
}
.text__pgDnm {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15.5px;
  font-weight: 400;
  margin-top: 10px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pgDnm {
    animation: none;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 40px;
}
