.announcement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  max-width: 100%;
  background: #e9f0ca4d;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  margin-right: 0px;
  text-decoration-line: none;
}
