.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  max-width: 85%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.link {
  display: flex;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  height: 21px;
  color: #1c3a13;
  width: 19px;
  flex-shrink: 0;
}
