.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.announcement:global(.__wab_instance) {
  max-width: 100%;
}
.nav:global(.__wab_instance) {
  max-width: 85%;
}
.freeBox__dy6Hi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 550px;
  max-width: 55%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dy6Hi {
    max-width: 85%;
    margin-bottom: 100px;
    height: auto;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: #1c3a13;
  flex-shrink: 0;
}
.text__nCdeC {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  font-weight: 400;
  color: #1c3a13;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nCdeC {
    animation: none;
  }
}
.text__s2XEa {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15.5px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__s2XEa {
    animation: none;
  }
}
.freeBox__t1GvA {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  min-width: 0;
  display: none;
}
.text__uPce {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #1c3a13;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uPce {
    animation: none;
  }
}
.text__gsFrJ {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15.5px;
  font-weight: 400;
  margin-top: 10px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gsFrJ {
    animation: none;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 0px;
}
.metaPixel:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .metaPixel:global(.__wab_instance) {
    animation: none;
  }
}
