.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.announcement:global(.__wab_instance) {
  max-width: 100%;
}
.nav:global(.__wab_instance) {
  max-width: 85%;
}
.freeBox___5Igd3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 45%;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Igd3 {
    max-width: 85%;
  }
}
.text___3GYsw {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  font-weight: 400;
  color: #1c3a13;
  text-align: left;
  margin-bottom: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3GYsw {
    animation: none;
    font-size: 26px;
  }
}
.freeBox__aVqpt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
}
.text__bbE4H {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #1c3a13;
  text-align: left;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bbE4H {
    animation: none;
  }
}
.text__sShn1 {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #1c3a13;
  text-align: left;
  margin-bottom: 0px;
  flex-shrink: 0;
  margin-right: 10px;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sShn1 {
    animation: none;
  }
}
.svg__gtva3 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #1c3a13;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  margin: 0px 10px 0px 0px;
}
.text__m5O3Z {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #1c3a13;
  text-align: left;
  flex-shrink: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__m5O3Z {
    animation: none;
  }
}
.svg___6UnOc {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #1c3a13;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  display: none;
  margin: 0px 10px 0px 0px;
}
.text__yyww {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #1c3a13;
  text-align: left;
  margin-bottom: 0px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yyww {
    animation: none;
  }
}
.img__m4FCj {
  object-fit: cover;
  width: 100%;
  height: 350px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__m4FCj > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__m4FCj {
    height: 180px;
    flex-shrink: 0;
  }
}
.text__fD2ZR {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fD2ZR {
    animation: none;
    font-size: 19px;
  }
}
.text__xr2Sp {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xr2Sp {
    animation: none;
  }
}
.img__o74J {
  object-fit: cover;
  width: 100%;
  height: 350px;
  margin-top: 20px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__o74J > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__o74J {
    height: 180px;
    flex-shrink: 0;
  }
}
.text__edTv8 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__edTv8 {
    animation: none;
  }
}
.img__avExl {
  object-fit: cover;
  width: 100%;
  height: 350px;
  margin-top: 20px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__avExl > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__avExl {
    height: 180px;
    flex-shrink: 0;
  }
}
.text__u4KEb {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u4KEb {
    animation: none;
    font-size: 19px;
  }
}
.text__yw7OK {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yw7OK {
    animation: none;
  }
}
.link__f563K {
  margin-top: 20px;
  display: flex;
  width: 100%;
  min-width: 0;
}
.img__gdnjg {
  object-fit: cover;
  width: 100%;
  height: 350px;
  min-width: 0;
  border-radius: 15px;
}
.img__gdnjg > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__gdnjg {
    height: 180px;
  }
}
.text__jnjl6 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jnjl6 {
    animation: none;
    font-size: 19px;
  }
}
.text__qyr0C {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qyr0C {
    animation: none;
  }
}
.link__kL2T3 {
  margin-top: 20px;
  display: flex;
  width: 100%;
  min-width: 0;
}
.img___3KejC {
  object-fit: cover;
  width: 100%;
  height: 350px;
  min-width: 0;
  border-radius: 15px;
}
.img___3KejC > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___3KejC {
    height: 180px;
  }
}
.text__eUvNz {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eUvNz {
    animation: none;
    font-size: 19px;
  }
}
.text__qm7Ue {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qm7Ue {
    animation: none;
  }
}
.link___6K2Pl {
  margin-top: 20px;
  display: flex;
  width: 100%;
  min-width: 0;
}
.img__zOrgf {
  object-fit: cover;
  width: 100%;
  height: 350px;
  min-width: 0;
  border-radius: 15px;
}
.img__zOrgf > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__zOrgf {
    height: 180px;
  }
}
.text__amg6J {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__amg6J {
    animation: none;
    font-size: 19px;
  }
}
.text__sWnHm {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sWnHm {
    animation: none;
  }
}
.link__srKa6 {
  margin-top: 20px;
  display: flex;
  width: 100%;
  min-width: 0;
}
.img___0DsZ {
  object-fit: cover;
  width: 100%;
  height: 350px;
  min-width: 0;
  border-radius: 15px;
}
.img___0DsZ > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___0DsZ {
    height: 180px;
  }
}
.text__aFhB {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aFhB {
    animation: none;
    font-size: 19px;
  }
}
.text__aX5N {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aX5N {
    animation: none;
  }
}
.link__aB4H {
  margin-top: 20px;
  display: flex;
  width: 100%;
  min-width: 0;
}
.img__hj8Gu {
  object-fit: cover;
  width: 100%;
  height: 350px;
  object-position: 50% 65%;
  min-width: 0;
  border-radius: 15px;
}
.img__hj8Gu > picture > img {
  object-fit: cover;
  object-position: 50% 65%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__hj8Gu {
    height: 180px;
  }
}
.text__kevhx {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kevhx {
    animation: none;
    font-size: 19px;
  }
}
.text__kQ9Oe {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kQ9Oe {
    animation: none;
  }
}
.text___3AM9E {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #1c3a13;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3AM9E {
    animation: none;
    font-size: 19px;
  }
}
.pdp:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 40px;
}
.metaPixel:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .metaPixel:global(.__wab_instance) {
    animation: none;
  }
}
